* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f8f8f8;
	color: #292929;
}

body,
input,
textarea {
	font: 400 16px 'Roboto', sans-serif;
}

.error-message {
	color: #E73F5D;
	margin-top: 5px;
	font-family: "Roboto", sans-serif;
}
