#page-auth {
	main {
		.main-content {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 320px;
			align-items: stretch;
			text-align: center;

			>img {
				align-self: center;
			}

			form {
				input {
					height: 50px;
					border-radius: 8px;
					padding: 0 16px;
					background: #fff;
					border: 1px solid #a8a8b3;
				}

				button {
					margin-top: 16px;
				}

				button,
				input {
					width: 100%;
				}

			}
		}
	}

	.separator {
		font-size: 14px;
		color: #a8a8b3;
		margin: 32px 0;
		display: flex;
		align-items: center;

		&::before,
		&::after {
			content: '';
			flex: 1;
			height: 1px;
			background: #a8a8b3;
		}

		&::before {
			margin-right: 16px;
		}

		&::after {
			margin-left: 16px;
		}
	}

	.create-room {
		margin-top: 64px;
		height: 50px;
		border-radius: 8px;
		font-weight: 500;
		background: transparent; // #ea4335;
		border: 1px solid #A8A8B3;
		color: #29292E;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;

		display: flex;
		justify-content: center;
		align-items: center;

		cursor: pointer;

		transition: filter .2s;

		img {
			margin-right: 8px;
		}

		&:hover {
			filter: brightness(.9);
		}
	}
}
