$min-width-modal: 600px;

.custom-modal {
	border-radius: 8px;
	width: $min-width-modal;

	.modal-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 32px;

		.modal-title,
		.modal-description {
			text-align: center;
		}

		.modal-title {
			color: #29292E;
			font-family: "Poppins", sans-serif;
			font-size: 24px;
			padding: 16px;
		}

		.modal-description {
			color: #737380;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			padding: 8px;
		}

		.modal-actions {
			display: flex;
			gap: 16px;
			margin-top: 16px;
		}
	}
}

@media screen and (max-width: $min-width-modal + 50px) {
	.custom-modal {
		max-width: 90%;

		.modal-actions {
			flex-direction: column;
			width: 90%;
			align-items: center;

			button {
				width: 90%;
			}

			.secondary {
				order: 1;
			}
		}
	}
}
