main {
	.main-content {
		p {
			font-size: 14px;
			color: #737380;
			margin-top: 16px;
		}

		a {
			color: #e559f9;
		}

		.user-info {
			margin: 48px 0 16px;

			img {
				border-radius: 50%;
			}

			Button {
				margin: 0 auto;
			}
		}

		h2 {
			font-size: 24px;
			margin: 24px 0 24px;
			font-family: 'Poppins', sans-serif;
		}
	}
}
